//- layout.pug
html
  head
    title book saler 
    block script
    block style 
  body
    nav#navbar 
            ul
                div#logo
                    img(src="/static/img/ImgLogobook.png")    
                li #[a(href="/") Home] 
                li #[a(href="/about") About] 
                li #[a(href="/services") Services] 
                li #[a(href="/saler") Saler] 
                li #[a(href="/contact") Contact us] 
               
    block content
    block foot
    footer#footerSection 
        | no copy @ right 2022 ||  babu book senter ||  Welcome