extend base.pug

block script 
    script  
        include  ../static/index.js
block style 
    style 
        include ../static/style.css 
        include HomeStyle.css

block content 
    section#introSection 
        div Welcome to Babu book senter 
        p our hre all type books are avable online ofline  
    section#storSection 
        h2 our Store At Bikaner  
        div.card      
            h3 Near Jungardh 8094745477
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.
        div.card      
            h3 Murti circle JNV 809477547
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.

        div.card      
            h3 BABU chock Gangasheher 9783134900
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.
        div.card      
            h3 Babu fatak 
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.
        div.card      
            h3 Ganganager Circle not avable
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.
        div.card      
            h3 Gandh chock Gangasheher 8290393994
            p Lorem iucimus laboriosam corrupti. Nihil, corrupti? Aperiam laborum illo quae blanditiis quia ipsam, quisquam autem, veniam impedit sequi unde repellat. Voluptas cumque accusantium expedita aut nobis quos ipsam impedit deserunt vitae possimus.

            
    Section#clientSection 
        h2 Our Clients
        div#Client-box
                img(src="/static/img/client1.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client2.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client3.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client4.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client5.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client6.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client7.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client8.png", alt="resopnser",class = "sponser")
                img(src="/static/img/client9.png", alt="resopnser",class = "sponser")