doctype html 
html    
    head        
        title booksale      
        style 
            include style.css
    body 
        nav#navbar 
            ul      
                li Home
                li About
                li Services
                li Seler
                li Contact us
        section#introSection 
            div Welcome to Babu book senter 
            div.small all type are book avable 
        section#storeSection 
            div 
                |stored item lockation and avablity 
        section#clientSection 
            div         
                |clientSection
        footer #footerSection 
            | no copy @ right 2022 ||  babu book senter ||  Welcome
        